$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:#334B7E,
  secondary:#FC8638,
  gray:#595959,
  lightgray:#BDBDBD,
  offwhite:#E5E5E5
);

@import "ionic.theme.default";
@import "ionic.ionicons";

@import "roboto";
@import "noto-sans";
