page-search-results {
	ion-content {
		background: #F2F2F2 !important;
	}
	ion-card {
		display: flex;
		width: 100%;
		overflow: hidden;
		height: 100px;
		&:first-child {
			margin-top: 0 !important;
		}
		ion-thumbnail {
			position: relative;
			figure {
				padding: 0;
				margin: 0;
				background-color: color($colors, lightgray);
				height: 100px;
				img {
					width: 100%;
					height: auto;
					position: absolute;
					top: 50%;
					transform: translateY(-50%)
				}
			}
		}
	}
	.searchMessage {
		padding: 15px;
		font-family: Roboto;
		font-size: 13px;
		color: #595959;
		font-weight: bold;
		text-align: right;
	}
	ion-grid,
	ion-row,
	ion-col {
		padding: 0 !important;
		margin: 0 !important;
		height: 100px !important;
	}
	.info {
		height: 100px;
		position: relative;
		margin-left: 15px;
		padding-right: 15px;
		padding-top: 8px;
		padding-bottom: 8px;
		h2 {
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			line-height: normal;
			font-size: 16px;
			color: #595959;
			margin: 0;
			padding: 0;
		}
		.time {
			position: absolute;
			bottom: 8px;
			font-size: 12px;
			color: #616161;
		}
	}
	button,
	.item-button {
		background-color: transparent;
		box-shadow: none;
	}
	.iconwrapper {
		height: 100px;
	}
	.icon {
		font-size: 20px;
		color: #616161;
	}
	.icon.back-button-icon {
		color: white;
	}
	.back-button,
	.toolbar-title {
		color: white;
	}
	.toolbar-background {
		background-color: color($colors, primary)
	}
}